<link rel="stylesheet" type="text/css" href="/css/overall_records.css">

<h1>Your Record</h1>

<!--Particle Background-->
<div id="particles-js"></div>

<!--Particle Background CSS-->
<link rel="stylesheet" href="/css/particle_bg.css">

<% if current_user.records.present? %>
	<ul class="accordion-area">
		<ul class="list-group">
			<% @records.each do |record| %>
				<li class="list-group-item">
					<section>
						<h3 class="title">
							<%= record.subject %> |
							<!--これ動かない。Internal Server Errorは出ないけど、-->
							<!--０を入れてしまうと、時間追加をしてもずっと０になってしまう-->
							<!--# < if record.total_time.nil? >-->
							<!--# 	< record.total_time = 0 >-->
							<!--# < end >-->
							<strong><%= (record.total_time % (1000 * 60 * 60 * 24) / (1000 * 60 * 60)).floor %></strong> h: 
							<strong><%= (record.total_time % (1000 * 60 * 60) / (1000 * 60)).floor %></strong> m: 
							<strong><%= (record.total_time % (1000 * 60) / 1000).floor %></strong> s: 
							<strong><%= (record.total_time % (1000 * 60) / 100).floor %></strong> ms
						</h3>
						<div class="box">
				          <p> Created at(作成日): <%=record.created_at%> <br> Updated at(更新日): <%=record.updated_at%> <br> <img src="<%= record.image %>"> </p>
				        </div>
					</section>
				</li>
			<% end %>
		</ul>
	</ul>
<% end %>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/overall_records.js"></script>

<!--particle.js-->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/js/particle_bg.js"></script>